@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
header {
  background: #fffaf5 !important;
}
.containers {
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 140px;
  margin-left: 5%;
  .left {
    width: 40%;
    margin-left: 3%;
    .header {
      border: 0;
      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 196.19%;
      }
    }
    .search {
      width: 90%;
      #searchBook {
        width: 100%;
        height: 55px;

        background: #ffffff;
        border: 1px solid #cecece;
        border-radius: 5px;
      }
      #searchButton {
        height: 55px;
        color: white;
        width: 100%;
        background: #e16a00;
        border-radius: 5px;
        font-family: "Crimson Text";
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 39px;
        text-align: center;
        border: 0;
      }
    }
  }
  .slider {
    width: 60%;
    margin-top: 107px;
    .carousel-inner {
      width: 90%;
      .carousel-item {
        .itemC {
          height: 300px;
          display: flex;
          background: #ffffff;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          padding: 31px;
          overflow: hidden;
          .itemLeft {
            width: 35%;
            min-height: 200px;
            min-width: 150px;
            img {
              padding: 10px;
              width: 80%;
              height: 100%;
              min-height: 200px;
              min-width: 150px;
            }
          }
          .itemRight {
            padding-left: 10px;
            width: 65%;
            .bookName {
              max-height: 40px;
              overflow: hidden;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 196.19%;
            }
            .bookAuthor {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 196.19%;
            }
            .bookDescription {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 180.19%;
            }
          }
        }
      }
    }
    .carousel-control-prev {
      .carousel-control-prev-icon {
        position: absolute;
        color: black !important;
        right: 100%;
      }
    }
    .carousel-control-next {
      .carousel-control-next-icon {
        position: absolute;
        color: black !important;
      }
    }
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .containers {
    .slider {
      width: 60%;
      margin-top: 87px;
      .carousel-inner {
        width: 90%;
        .carousel-item {
          .itemC {
            display: flex;
            background: #ffffff;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            padding: 21px;
            max-height: 400px;
            overflow: hidden;
            .itemLeft {
              width: 30%;
              min-height: 200px;
              min-width: 150px;
              img {
                padding: 10px;
                width: 100%;
                min-height: 200px;
                min-width: 150px;
              }
            }
            .itemRight {
              padding-left: 10px;
              width: 70%;
              .bookName {
                max-height: 30px;
                max-width: 328px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
              }
              .bookAuthor {
                max-height: 50px;
                max-width: 328px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
              }
              .bookDescription {
                max-height: 50px;
                max-width: 328px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 170.19%;
              }
            }
          }
        }
      }
      .carousel-control-prev {
        .carousel-control-prev-icon {
          position: absolute;
          color: black !important;
          right: 100%;
        }
      }
      .carousel-control-next {
        .carousel-control-next-icon {
          position: absolute;
          color: black !important;
        }
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .containers {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 100px;

    margin-top: 120px;
    .left {
      width: 100%;
      margin-left: 0;
      height: 100px;
      .header {
        border: 0;
        h2 {
          font-weight: 600;
          font-size: 30px;
        }
      }
      .search {
        width: 100%;
        #searchBook {
          height: 40px;

          width: 100%;
          margin-top: 10px;
          background: #ffffff;
          border: 1px solid #cecece;
          border-radius: 5px;
        }
        #searchButton {
          margin-top: 20px;
          height: 40px;
          color: white;
          width: 100%;
          background: #e16a00;
          border-radius: 5px;
          font-family: "Crimson Text";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 39px;
          text-align: center;
          border: 0;
        }
      }
    }
    .slider {
      width: 90%;
      margin: auto;
      margin-left: 10%;

      margin-top: 129px;
    }
  }
}
@media (max-width: 600px) {
  .containers {
    margin: auto;
    margin-top: 110px;
    flex-direction: column;

    .left {
      width: 100%;
      margin-left: 0;
      .header {
        border: 0;
        text-align: center;
        h2 {
          font-weight: 900;
          font-size: 25px;
          line-height: 196.19%;
        }
      }
      .search {
        width: 100%;
        #searchBook {
          height: 39px;
          width: 100%;
          background: #ffffff;
          border: 1px solid #cecece;
          border-radius: 5px;
        }
        #searchButton {
          height: 39px;
          margin-top: 20px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
        }
      }
    }
    .slider {
      width: 90%;
      margin: auto;
      margin-left: 10%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      .carousel-inner {
        width: 90%;
        .carousel-item {
          .itemC {
            padding: 21px;
            overflow: hidden;
            display: flex;
            max-height: fit-content;
            flex-direction: column;
            .itemLeft {
              min-height: auto;
              min-width: 100px;
              width: 60%;
              margin: auto;

              display: flex;
              justify-content: center;
              align-items: center;
              img {
                padding: 5px;
                min-height: 150px;
                min-width: 100px;
              }
            }
            .itemRight {
              padding-left: 10px;
              width: 100%;
              .bookName {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 900;
                font-size: 30px;
                text-align: center;
                line-height: 190.19%;
              }
              .bookAuthor {
                text-align: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 190.19%;
              }
              .bookDescription {
                text-align: center;
                margin-top: 5px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 140.19%;
              }
            }
          }
        }
      }
      .carousel-control-prev {
        .carousel-control-prev-icon {
          position: absolute;
          color: black !important;
          right: 120% !important;
        }
      }
      .carousel-control-next {
        .carousel-control-next-icon {
          position: absolute;
          color: black !important;
          left: 50%;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .containers {
    margin: auto;
    margin-top: 110px;
    flex-direction: column;

    .left {
      width: 100%;
      margin-left: 0;
      .header {
        border: 0;
        text-align: center;
        h2 {
          font-weight: 900;
          font-size: 25px;
          line-height: 196.19%;
        }
      }
      .search {
        width: 100%;
        #searchBook {
          height: 39px;
          width: 100%;
          background: #ffffff;
          border: 1px solid #cecece;
          border-radius: 5px;
        }
        #searchButton {
          height: 39px;
          margin-top: 20px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
        }
      }
    }
    .slider {
      width: 90%;
      margin: auto;
      margin-left: 10%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      .carousel-inner {
        width: 90%;
        .carousel-item {
          .itemC {
            padding: 21px;
            overflow: hidden;
            display: flex;
            max-height: fit-content;
            flex-direction: column;
            .itemLeft {
              min-height: auto;
              min-width: 100px;
              width: 60%;
              margin: auto;

              display: flex;
              justify-content: center;
              align-items: center;
              img {
                padding: 5px;
                min-height: 150px;
                min-width: 100px;
              }
            }
            .itemRight {
              padding-left: 10px;
              width: 100%;
              .bookName {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 900;
                font-size: 20px;
                text-align: center;
                line-height: 190.19%;
              }
              .bookAuthor {
                text-align: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 190.19%;
              }
              .bookDescription {
                text-align: center;
                margin-top: 5px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 140.19%;
              }
            }
          }
        }
      }
      .carousel-control-prev {
        .carousel-control-prev-icon {
          position: absolute;
          color: black !important;
          right: 120% !important;
        }
      }
      .carousel-control-next {
        .carousel-control-next-icon {
          position: absolute;
          color: black !important;
          left: 50%;
        }
      }
    }
  }
}
